{% extends 'base.html' %}
{% block body %}

    <h1 class="text-center my-3">Projects</h1>
    <a href="add" class="btn btn-primary pr-3" style="float: right;margin-right: 20px">Add</a>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Logo</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Duration (in Days)</th>
        <th scope="col" colspan="2">Actions</th>

    </tr>
  </thead>
  <tbody>

{%  for project in projects %}
      <tr  onclick="window.location.href='project/{{ project.id }}'">
            <th scope="row">{{ project.id }}</th>
            <td><img src="media/project_avatar/{{ project.avatar }}" width="60" height="60"></td>
            <td>{{ project.name }}</td>
            <td>{{ project.desc }}</td>
            <td>{{ project.duration_in_days }}</td>
          <td><a href="edit/{{ project.id }}" class="btn btn-primary">edit</a></td>
          <td> <a href="delete/{{ project.id }}" class="btn btn-danger">delete</a></td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}